<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Page Title</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
  <!--[if IE 6]>
    <link rel="stylesheet" href="ie6_custom.css" />
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" href="ie7_custom.css" />
  <![endif]-->
</head>
<body>
    <%= yield %>
</body>
</html>
